<div class ="container">
  <h3>Log In </h3>
  <%= erb :'_partials/_errors', layout: false %>


  <form action="/sessions" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input class="waves-effect waves-purple lighten-4 btn-flat" type="submit" value="Log In">
  </form>
</div>
