<div class ="log-in container">
  <h3>Log In </h3>
  <%= erb :'_partials/_errors', layout: false %>


  <form action="/sessions" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input class="btn btn-primary" type="submit" value="Log In">
  </form>
  <img src="https://media.giphy.com/media/kMM3vtBEgSsLu/giphy.gif">
</div>
