<div >
  <form action='/users/new' method='post'>
    <label for="username ">Username:</label><br>
    <input type='text' name=' '><br>
    <br>
    <label for=" email">Email:</label><br>
    <input type='email' name=' '><br><br>
    <label for=" password">Password:</label><br>
    <input type='password' name='' ><br><br>
    <input type='submit' value='Register'>
  </form>
</div>