<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/application.css">

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">StackOverFlow</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <%if logged_in?%>
          <li><a href="/questions/new">Ask a question</a></li>
        <%end%>
      </ul>
    <%if logged_in?%>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/<%=current_user.id%>"><%=current_user.username%></a> </li>
        <li><a><form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log Out">
        </form></a></li>
      </ul>
    <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    <%end%>
    </div>
  </nav>
<%= yield %>
</body>


</html>
