<div class="container-fluid">
  <h3>Thanks for the feedback!</h3>
  <p >This site is free and open to everyone,
   but only registred users can vote or post.</p>
    <a href="sessions/new" target="MyMain" onClick="javascipt:window.close();">Login</a>
    or
    <a href="users/new" target="MyMain" onClick="javascipt:window.close();">Register</a>
</div>
