
<div >
<form action='/questions' name='question_form' method='post'>
  <center><label for="user">Username: </label>  <input type='text' name='user' placeholder='username'><br><br></center>
 <center><label for="question">Question: </label> <input  type='textarea' name='body' placeholder='question'><br><br></center>

  <center><input class='submit' type='submit' value='submit'></center>
</form>
</div>